<section>
  {% form 'customer_login' %}
    {{ form.errors | default_errors }}

    <div class="email">
      <label for="email">Email</label>
      <input type="email" name="customer[email]">
    </div>

    <div class="password">
      <label for="password">Password</label>
      <input type="password" name="customer[password]">
    </div>

    <div class="submit">
      <input type="submit" value="Sign in">
    </div>
  {% endform %}
</section>

{% schema %}
{
  "name": "Login"
}
{% endschema %}
